@import url('https://fonts.googleapis.com/css?family=Open+Sans');

head{
	overflow: hidden;
}
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #040404;
	display: flex!important;
	min-height: 100vh!important;
  flex-direction: column!important;
  background-image: url('../images/bg.jpg');
  background-repeat-y: no-repeat;
}
.featureTitle {
  padding-left: 20px!important;
  height: 40px;
  background-color: black;
  line-height: 40px;
  color: white;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.row {
  width: 100%;
}


nav, .header{
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  margin: 10px 0px!important;
  padding: 0px;
  color: white;
 
  background: #2A2832;
  background: -moz-linear-gradient(top, #2A2832 0%, #16151A 50%, #010004 100%);
  background: -webkit-linear-gradient(top, #2A2832 0%, #16151A 50%, #010004 100%);
  background: linear-gradient(to bottom, #2A2832 0%, #16151A 50%, #010004 100%);
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    list-style: none;
    margin: 0; 

    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li.nav-link{
  list-style-type:none; 
  display:flex;
  align-items:center;
  display: flex;
  justify-content: center;
}
.nav-link >a{
  color: white;
  text-decoration: none;
  text-decoration: none;
  display: block;
  padding: 1em;

}
.nav-link:hover {
  color: black;
  background-color: #ec971f;
  text-decoration: none;
}
.logo, .banner {
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 10px;
}
.banner img {
  height: 80px;
}


.header .row {
  text-align: center;
  display: flex;
  justify-content: center;
  
}





.white {
  background-color: #f7f7f9;
  padding: 20px;
}
.leftCol {
  width: 100%;
}
.sideBar {
  background-color: #eceeef;
  border: #ccc;
  border-style: solid;
  border-width: 1px;
}
.mainContent h1, .titleSidebar h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 45px;
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  text-align: center!important;
}
.titleSidebar {
  text-transform: uppercase;
  line-height: 45px;
  height: auto;
  background-color: black;
  color: white;
  text-align: center!important;
}
.logoSidebar {
      background-color: black;
     display: flex;
     justify-content: center;
     min-height: 65px;
     flex-grow: 2;
     display: flex;
     justify-content: center;
     align-items: center;
}
.descrip {
  display: flex;
  flex-grow: 1;
}
.logoSidebar img {
  height: fit-content;
}
.link {
  height: 40px;
}
.features {
  color: white;
  min-height: 100px;
}
.circle {
  line-height: 1.4;
  font-weight: bold;
  color: #131313;
  position: absolute;
  width: 40px;
  font-size: 150%;
  height: 40px;
  background: #fdfdfd;
  border-radius: 50px;
  border: 3px solid rgb(97, 59, 59);
  left: -25px;
  top: -8px;
  text-align: center;
}.pros ul {
  list-style-image: url('../images/plus.jpg');
}
.cons ul {
  list-style-image: url('../images/less.jpg');
}
.box {
  background-position: top center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44%, rgba(0,0,0,1)), color-stop(45%, rgba(33,24,15,1)));
  background: linear-gradient(180deg, rgba(0,0,0,1) 44%, rgba(33,24,15,1) 45%);
  background-size: auto 170px;
  background-repeat: no-repeat;
  position: relative;
  min-height: 150px;
  margin: 20px 0px;
}
.wagerNow {
  color: white;
  padding: 5px;
  margin: 5px;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
    background: rgb(255,190,0);
  background: linear-gradient(180deg, rgba(255,190,0,1) 34%, rgba(249,125,1,1) 100%);
  }
  a.wagerNow:hover {
    background: rgb(255,190,0);
  background: linear-gradient(180deg, rgba(255,190,0,1) 100%, rgba(249,125,1,1) 34%);
}
 .review {
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.features ul {
  font-size: 0.9rem;
  margin-top: 10px;
}





.footer {
  padding: 20px 20px;
  background-position: top center;
  background: url('../images/bg_footer.jpg');
  background-repeat: repeat-x;
  background-color: #040404!important;
  color: #bdb9b9;
  margin-top: 10px;
}

.d-flex {
  display: flex;
}


/* ///////////////////MENU //////*/
.menu-content {
  margin: 0px 20px;
}
.navbar label, .collapsible-menu label{
  display: none;
}
.navbar{

    background: #2A2832;
    background: -moz-linear-gradient(top, #2A2832 0%, #16151A 50%, #010004 100%);
    background: -webkit-linear-gradient(top, #2A2832 0%, #16151A 50%, #010004 100%);
    background: linear-gradient(to bottom, #2A2832 0%, #16151A 50%, #010004 100%);
 
}
.collapse {
  display: none;
}
.collapsible-menu {
  background-color: black;
  
}
.collapsible-menu ul {
  list-style-type: none;
  padding: 0px;
    margin: 10px 0px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.collapsible-menu a {
  display:block;
  padding: 10px;
  text-decoration: none;
  color:white;
}

input#menu {
  display: none!important;
}

.leftCol img {
  max-width: 100%;
}

.f_Article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.f_Article a {
  text-transform: uppercase;
  font-size: 14px;
  max-width: 75%;
  
}span.date {
  text-transform: uppercase;
  color: red;
  width: 20%;
  font-size: 0.8em;
}.copy {
  margin-top: 5px;
  padding-top: 5px;
  font-size: 11px;
  border-top: 1px solid #cccccc;
  width: 100%;
}.btn-danger {
  margin: 10px 0px;
  height: 25px;
  line-height: 5px;
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}a.btn.btn-danger {
  color: white;
  padding: 0px;
  margin: 0px;
  display: flex;
  max-width: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.featurePost {
  display: flex;
}
.item {

  border: 1px white solid;
  display: flex;
  align-items: center;
  min-height: 180px;
}

.thumbnailArticle {
  overflow: hidden;
  width: 133px;
  height: 80px;
}.f_Article.float-right a {
  text-decoration: none;
}
span.title {
  max-width: 75%;
  font-size: 0.8em;
}





/**REviews*/
.pgReview .box {
    position: relative;
    background: #f5f5f5!important;
    border: solid 1px gray;
}

.box {
  background-position: top center;

  min-height: 150px;
}
a.wagerNow:hover {
    color: yellow!important;
}

.pros h2{
       font-weight: 900;
       font-size: 200%;
    color: green;
}
.cons h2{
       font-weight: 900;
       font-size: 200%;
    color: red;
}
.col-12.featurePosts h2, .col-12.Summary h2{
  font-weight: 900;
  font-size: 150%;
color: black;
}

.container-review {
  display: flex;
    flex-wrap: wrap;
    position: relative;
}.featurePosts, .Summary {
  width: 50%;
}
.prosCons {
  border: solid 4px #f5f5f5;
  min-height: 225px;
  background-color: white;
  flex-grow: 3;
  display: flex;
  padding: 30px;
  box-sizing: border-box;
}

.item h2 {
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
																											media Query begin
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */




/* > Extra large devices (large desktops, 1200px and up) ------------------------------------------------------------------------------ >  */
@media (max-width: 1200px) {
  .collapsible-menu ul {
    font-size: 1rem;
  }
}


/* > Large devices (desktops, 992px and up) ------------------------------------------------------------------------------------------ >  */
@media (max-width: 992px) {

}

/* > Medium devices (tablets, 768px and up) ----------------------------------------------------------------------------------------- >  */
@media (max-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
  .sideBar{
    display: none;
  }

  .footer > div {
    width: 33%;
}
.item {
  height: initial;
}

.featurePost {
  display: flex;
  justify-content: space-evenly;
}
.thumbnailArticle {
  width: initial;}
  .f_Article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: fit-content;
    margin-left: 20px;
    box-sizing: border-box;
}
.f_Article.float-right a {
  text-decoration: none;
  padding: 10px;
}
.navbar label {
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  margin: 10px 0px!important;
  padding: 0px;
  color: white;

}
.collapsible-menu label {
  font-size: 1.5rem;
  display: block;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.menu-content {
  padding: 0px;
  max-height: 0;
  overflow: hidden;
 
}
/* Toggle Effect */
input:checked ~ label {
  
}
input:checked ~ .menu-content {
  max-height: 100%;
}

.menu-content ul{
  font-size: 1.5rem;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-direction: column;
  flex-flow: column;
}
.menu-content ul li{
  font-size: 1.5rem;
}
.item {
  flex-wrap: wrap;
}
}

/* > Small devices (landscape phones, 576px and up) -------------------------------------------------------------------------------- >  */

@media (max-width: 648px) {
  .logo img, .banner img{
    width: 90%;
    object-fit: contain;
}

}


@media (max-width: 400px) {
  .footer > div {
    width: 50%;
}
.hidden-sm-down {
  display: none;
}



.featurePost {
  flex-wrap: wrap;
}
span.title {
  max-width: 100%;
  margin: 10px;
}
span.date {

  width: 100%;
}
a.btn.btn-danger {
  max-width: 100%;
}

}
